<%= form_for(@session) do |f| %>
  <% if @session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% @session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :required => true, :maxlength => 75, :size => 20 %>
  </div>
  <div class="field">
    <%= f.label :owner, 'Your Name' %><br>
    <%= f.text_field :owner , :required => true, :maxlength => 25, :size => 20 %>
  </div>
  <div class="field">
    <%= f.label :twitter_handle %><br>
    <%= f.text_field :twitter_handle, :size => 20 %>
  </div>

  <%= f.hidden_field :time_slot_id, :value => @session.time_slot_id %>
  <%= f.hidden_field :meeting_space_id, :value => @session.meeting_space_id %>
  <div class="actions">
  <%= f.submit unless Settings.readonly %>
  </div>
<% end %>
