<html>
<head>
  <link rel="stylesheet" type="text/css" href="http://www.codemash.org/wp-content/themes/codemash/style.css?ver=2.2.2" />
  <%= stylesheet_link_tag 'main' %>
	<style type="text/css">
	</style>
</head>
<body>

<table>
	<thead>
    <tr>
      <td class="meeting-space-header">Meeting Space</td>
      <% @time_slots.each do |ts| %>
        <td class="<%= ts.id == @current_time_slot.id ? 'current' : 'not-current' %>">
          <div><%= ts.to_s %></div>
          <div class="prev-next-links">
            <% if @prev_time_slots[ts.id] %>
              <a href="/sessions/?time_slot_id=<%= @prev_time_slots[ts.id] %>">Prev</a>
            <% end %>
            <% if @next_time_slots[ts.id] %>
              <a href="/sessions/?time_slot_id=<%= @next_time_slots[ts.id] %>">Next</a>
            <% end %>
          </div>
        </td>
      <% end %>
		</tr>
	</thead>	
  <tbody>	
    <% @meeting_spaces.each do |ms| %>
      <tr>	
        <td class="header meeting-space-header"><%= ms.name %></td>
        <% @time_slots.each do |ts| %>
          <td class="<%= existing_session(ts.id,ms.id) ? 'taken' : 'available' %> <%= ts.id == @current_time_slot.id ? 'current' : 'not-current' %>">
            <% if existing_session(ts.id,ms.id) %>
            <div class="title"><%= existing_session_title(ts.id,ms.id) %></div>
            <div class="owner"><%= existing_session_owner(ts.id,ms.id) %></div>	
            <div class="inline-meeting-space">Meeting space <%= ms.name %></div>
          <% else %>
            <a href="/sessions/new?time_slot_id=<%= ts.id %>&meeting_space_id=<%= ms.id %>">Create</a>
            <div class="inline-meeting-space">Meeting space <%= ms.name %></div>
            <% end %>
      </td>
        <% end %>
      </tr>
    <% end %>
	</tbody>
</table>


-----------------------

<p id="notice"><%= notice %></p>

<h1>Listing Sessions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Owner</th>
      <th>Twitter handle</th>
      <th>Time slot</th>
      <th>Meeting space</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |session| %>
      <tr>
        <td><%= session.title %></td>
        <td><%= session.owner %></td>
        <td><%= session.twitter_handle %></td>
        <td><%= session.time_slot %></td>
        <td><%= session.meeting_space %></td>
        <td><%= link_to 'Show', session %></td>
        <td><%= link_to 'Edit', edit_session_path(session) %></td>
        <td><%= link_to 'Destroy', session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Session', new_session_path %>

</body>
</html>
